#include <unittest>

using namespace cppunittest;

int run_unittest() {
  unittest ut("Test xxxx", __FILE__);

  ut
    .test(
      "TEST CASE DESCRIPTION",
      __testfunc__ {
      }
    )

    ;

  return ut.error() + ut.failure();
}

int main() {
  try {
    return run_unittest();
  } catch(...) {
    return -1;
  }
}

